<template name="eventdetails">

  <head>
              <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/EventBook.css" type="text/css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

        <title>EventBook</title>
    </head>


    <body>
        {{> navbar}}

        <div class="container">
        <div class="row">
            <h3>Dettaglio evento</h3>

            <div class="col-sm-12">

                {{#with eventdetails}}
                    <h4>{{{name}}}</h4><br />
                    <b>Descrizione:</b> {{description}}<br />
                    <b>Da:</b> {{start_time}}<br />
                    <b>Compra da:</b> {{owner.name}}<br />
                {{/with}}
            </div>
        </div>
            </div>
    </body>

</template>
