<template name="userfriends">
    <head>
               <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/EventBook.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

        <title>EventBook</title>
    </head>
    <body>
        {{> navbar}}
        <div class="container">
            <div class="row">
                <h4>Aggiungi amico</h4>
                <div class="col-sm-12">
                    <input type="text" id="addfriendin" value="" placeholder="friend name.." />
                    <button type="button" class="btn btn-primary" id="addfriend">Aggiungi amico alla lista</button>
                </div>
                <div class="col-sm-12">
                    <ul class="list-group">
                        {{#each friendList}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</template>
